/******************************TAG SELECTORS*************************************/
  body {
    Background-color: #EAF6F6;



  }

hr {
width: 95%;
border-style:none;
border-top-style: dashed;
border-width:5px;
border-color:grey;
}

h3 {
color:#66BFBF;}
h1 {
color:#66BFBF;}
/******************************Class SELECTORS*************************************/

/*
NOTE:
since i didn't put any element into a certain class i don't have anything to test classes on but the way it works is as follows:
<Element class="Name_of_the_class">Whatever in here</Element>
To style the element above i can just put a dot (".") then the name of the class like this:
.Name_of_the_class

*/




/******************************ID SELECTORS*************************************/
